  //Grid Variables
  $max-width: 114rem;
  $gutter-horizontal: 8rem;
  $gutter-vertical: 6rem;
  $gutter-vertical-small: 6rem;
  //Colour Vaiables
  $color-primary: #55c57e;
  $color-primary-light: #7ed56f;
  $color-primary-dark: #28b485;
  $background-primary: rgb(255, 255, 255);
  $color-gray-dark: #777;
  $color-gray-dark-2: #999;
  $color-gray-dark-3: #333;
  $color-white: #fff;
  $color-black: #000;
  $color-gray-light-1: #f7f7f7;
  $color-gray-light-2: #eee;

  //Card Colours
  $color-secondary-light: #ffb900;
  $color-secondary-dark: #ff7330;
  $color-tertiary-light: #2998ff;
  $color-tertiary-dark: #5643fa;