.btn{
    &:link, &:visited, &{
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        left: 0;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }

    &-white{
        background-color: $color-white;
        color: $color-gray-dark;
        &::after {
            background-color: $color-white;
        }
    }

    &-green{
        background-color: $color-primary-dark;
        color: $color-white;
        &::after {
            background-color: $color-primary-dark;
        }
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        &::after {
            transform: scale(1.4) scaleY(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5rem 1rem rgba($color-black, 0.2);
        color: $color-black;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
  }    

  .btn-text{
    &:link, &:visited {
        text-decoration: none;
        padding: 3px;
        display: inline-block;
        transition: all .2s;
        font-size: 1.6rem;
        color: $color-primary-dark;
    }
    &:hover{
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
  }