.popup{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: all .4s .2s;

        @include respond(tablet-landscape){
            display: inline-block;
        }

        @include respond(phone){
            height: 80%;
            overflow: scroll;
        }
    }

    &__left{
        width: 33.3333%;
        display: table-cell;

        @include respond(tablet-landscape){
            display: inline-block;
            width: 100%;
        }
    }

    &__right{
        width: 66.6666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tablet-landscape){
            display: inline-block;
            width: 100%;
        }

    }
    &__img{
        width: 100%;
        display: block;

        @include respond(tablet-landscape){
            display: inline-block;
            width: 49.7%;
            height: 25rem;   
        }

        @include respond(phone){
           width: 100%;
        }
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-dark;
        hyphens: auto;

        @include respond(phone){
            column-count: 1;
        }

    }

    &:target{
        visibility: visible;
        opacity: 1;
    }

    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }


    &__close{
        &:link, &:visited{
            color: $color-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .3s;
            line-height: 1;
        }
        &:hover{
            color: $color-primary-dark;
        }
    }
}