body {
    background-color: $background-primary;
    font-family: "Lato", "sans-serif" Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-gray-dark;
  }

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &-main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respond(phone){
        letter-spacing: 1rem;
        font-size: 5rem;
      }
    }
    &-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 13.3px;
      animation: moveInRight 1s ease-out;
      margin-left: -15px;

      
      @include respond(phone){
        letter-spacing: .5rem;
      }
    }
  }

  .heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    display: inline-block;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tablet-port){
      font-size: 3rem;
    }

    @include respond(phone){
      font-size: 2.5rem;
      letter-spacing: .1rem;
    }
     &:hover{
       transform: skewY(2deg) skewX(15deg) scale(1.1);
       text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
     }
  }
  
  .heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
  }
  .paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
      margin-bottom: 3rem;
    }
  } 




